<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cassa Udec</title>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css">

</head>
<body>
    <div>
        <div>
            <div>
                <form action="/NewFile" method="get">
                    <button type="submit"><i></i>Ingresar</button>
                </form>
                <div>
                    <a href="#">Recordar contrasena</a>
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>